body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(43, 43, 78);
}

.logo {
  opacity: 0;
  animation-duration: 5s;
  animation-name: intrologo;
  animation-timing-function: ease-out;
  display: flex;
  justify-content: center;
  margin-top: -250px;
  z-index: 5;
}

@keyframes intrologo {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.intro {
  font-size: 40px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #00e9ca;
  opacity: 0;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-name: intro;
  animation-timing-function: ease-out;
  display: flex;
  justify-content: center;
  margin-top: 250px;
  z-index: 5;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.texte {
  width: 750px;
  margin: 0 0 0 -400px;
  top: auto;
  bottom: 0;
  height: 60em;
  font-size: 64px;
  transform-origin: center bottom;
  transform: perspective(200px) rotateX(25deg);
  position: absolute;
  left: 50%;
}

.texte>div {
  position: absolute;
  top: 100%;
  animation-delay: 9s;
  animation-duration: 70s;
  animation-name: texte;
  animation-timing-function: linear;
  color: yellow;
  z-index: 5;
  width: 120%;
}

@keyframes texte {
  0% {
    top: 100%;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 0;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}